@import "../abstract/mixins";
@import "../components/article.scss";

.hp{
    &__landing {
        width: 100%;
        height: 60vh;
        float: left;
        overflow: hidden;
        .column{
            padding: 0 !important;
        }
    }

    &__tags{
        float:left;
        transform: translateX(-50%);
        margin: 1rem 0 0 50%;
    }
    &__section{
        &__1{
            width:100%;
            float:left;
            margin-top:5rem;
        }
    }

    @include respond(tab-land) {
        &__landing {
            height: 80vh;
        }
    }

    @include respond(phone) {
        &__landing {
            height: 100vh;
        }
    }
}

.recentStories {
    height: 50rem;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 2rem;
}
