@import "../abstract/variables";

.article {
    &--1 {
        height: 80vh;
        width: 100%;
        position: relative;
        &:hover {
            .article {
                &__fade {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .article{
            &__fade{
                visibility: hidden;
                width: 100%;
                height: 100%;
                opacity: 0;
                background: $primary__color--fade;
                transition: all .5s ease;
                position: absolute;
                z-index: 10;
            }
        }

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            z-index: 0;
            img {
                min-width: 100%;
                min-height: 100%;
            }
        }

        .content {
            bottom: 0;
            position: absolute;
            z-index: 20;
            padding: 3rem;
            min-height: 30vh;
        }

        span {
            margin-right: 1rem;
        }

        .description{
            margin-top:1rem;
        }
        h1,
        span,
        .description{
            color: #FFF;
        }
    }

    &--2 {
        min-height: 10rem !important;
        h3{
            color: #000;
        }
        .content {
            padding-right: 1rem !important;
        }
    }
}
