.article__container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 $m-size;
    margin-top: $m-size;
}

.article__desc {
    font-size: $s-size !important;
    font-weight: 500 !important;
}

/* Read time styling  */
.time_to_read{
   color:#008080;
   padding:.3rem 1rem;
   float:left;
   border: 1px solid #008080;
   border-radius: 25px;
   text-align: center;
}

#share-text {
    padding-bottom: $ss-size;
}

.button__group {
    margin-bottom: $ss-size;
}

.main__first{
   margin-bottom: 2rem;
}


.spread__content {
    display: flex;
    justify-content: space-between;

    .time_to_read{
        float:right;
    }
}

.ui.tag.label {
    margin: 1em;
}

.article__tags {
    margin-left: 1em;
}